RewriteEngine On

# 1. Se o arquivo ou pasta real existir (como index.html ou imagens), abra-os normalmente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 2. Se você digitar /contato, ele abre /contato.html internamente
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# 3. REGRA DOS POSTS: Transforma /nome-do-post em /post.html?slug=nome-do-post
# Esta regra só será executada se as de cima não encontrarem um arquivo real
RewriteRule ^([a-zA-Z0-9_-]+)$ post.html?slug=$1 [QSA,L]