RewriteEngine On

# 1. Remove a extensão .html da URL (Redireciona de /contato.html para /contato)
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [L,R=301]

# 2. Faz o servidor ler o arquivo .html internamente ao acessar a URL limpa
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]