/* css/about.css */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.stats-box {
    border-left: 2px solid var(--primary-color);
    padding-left: 2rem;
}

.stats-box h3 { font-size: 3rem; color: var(--primary-color); }

@media (max-width: 768px) {
    .grid-2 { grid-template-columns: 1fr; gap: 2rem; }
}