/* css/global.css */
:root {
    --primary-color: #0f62fe; /* Azul IBM */
    --hover-color: #0353e9;
    --dark-bg: #010202;
    --light-bg: #f4f4f4;
    --text-main: #393939;
    --text-white: #ffffff;
    --font-stack: 'Inter', sans-serif;
    --max-width: 1200px;
    --spacing: 4rem;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: var(--font-stack);
    line-height: 1.6;
    color: var(--text-main);
    background-color: var(--dark-bg);
    overscroll-behavior-y: none;
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }

/* Utilitários */
.container { max-width: var(--max-width); margin: 0 auto; padding: 0 20px; }
.section { padding: var(--spacing) 0; }
.bg-light { background-color: var(--light-bg); }
.bg-dark { background-color: var(--dark-bg); color: var(--text-white); }
.text-white { color: var(--text-white); }

/* Botões (Reutilizáveis) */
.btn {
    display: inline-block;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    cursor: pointer;
}
.btn-primary { background-color: var(--primary-color); color: var(--text-white); }
.btn-primary:hover { background-color: var(--hover-color); }
.btn-outline { border-color: var(--text-main); color: var(--text-main); }
.btn-outline:hover { background-color: var(--text-main); color: var(--text-white); }

html {
    scroll-behavior: smooth;
}


section, header, footer, .hero {
    scroll-margin-top: 6.5rem;
}